---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
const mediaUrl = import.meta.env.PUBLIC_MEDIA_URL;
---

<BaseLayout>
	<h1>Home Page</h1>
	
	<Image 
		src={`${mediaUrl}/images/featured.jpg`} 
		alt="Featured image" 
		width={1200}
		height={800}
		format="webp"
	/>
</BaseLayout>
