---
import { Image } from 'astro:assets';
const pageTitle = "Home Page";
const mediaUrl = import.meta.env.PUBLIC_MEDIA_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<a href="/mywebsite/">Home</a>
		<a href="/mywebsite/blog">Blog</a>
		<a href="/mywebsite/about">About</a>
		
		<Image 
			src={`${mediaUrl}/images/featured.jpg`} 
			alt="Featured image" 
			width={1200}
			height={800}
			format="webp"
		/>
	</body>
</html>
