---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Writing";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	
	<p>I am working through Astro's introductory tutorial. This is the third page on my website.</p>
	
	<p>This is the very beginning of my blog journey!</p>
	<ul>
		<li><a href="/mywebsite/posts/post-1">Post 1</a></li>
		<li><a href="/mywebsite/posts/post-2">Post 2</a></li>
		<li><a href="/mywebsite/posts/post-3">Post 3</a></li>
	</ul>
</BaseLayout>